<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <title>商品详情页</title>
    <link rel="stylesheet" href="./css/detail.css">
    <link rel="stylesheet" href="./fonts/iconfont.css">
    <link rel="stylesheet" href="css/header.css">
    <link rel="stylesheet" href="css/footer.css">
</head>
<body>
    <!-- 头部快捷导航 -->
    <div id="header">
    </div>
    <section class="box">
        <!-- <div class="left box">
            <img src="img/products/11.jpg"/>
            <div class="mark"></div>
        </div>
        <div class="boxDetail">
            <img src="img/products/111.jpg"/>
        </div>
        <div class="right">
            <h3 class="name">小米2</h3>
            <p class="title">感恩大回馈</p>
            <p class="count">库存:100</p>
            <p class="price">1899元</p>
            <input type="button" name="" value="立即购买" class="buy">
            <input type="button" name="" value="加入购物车" class="shop">
        </div> -->
    </section>
    <div class="pic">
        <div class="first">
            <img src="img/products/first.jpg" alt="">
        </div>
        <div class="secend">
            <img src="img/products/小米承诺.png" alt="">
        </div>
        <div class="third">
            <img src="img/products/官方微信.jpg" alt="">
        </div>
    </div>
    <footer>

    </footer>
    <script type="text/javascript" src="js/jquery-1.11.3.min.js"></script>
    <script type="text/javascript" src="js/jquery.cookie.js"></script>
    <script type="text/javascript" src="js/jquery.fly.min.js"></script>
    <script type="text/javascript" src="js/header.js"></script>
    <script type="text/javascript" src="js/footer.js"></script>
    <script type="text/javascript" src="js/detail.js"></script>
</body>
</html>