<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <title>小米产品</title>
    <link rel="stylesheet" href="fonts/iconfont.css">
    <link rel="stylesheet" href="css/product.css">
    <link rel="stylesheet" href="css/header.css">
    <link rel="stylesheet" href="css/footer.css">
</head>
<body>
    <!-- 头部快捷导航 -->
    <div id="header">
    </div>
    <section class="product">
        <div class="left">
            <div class="msg">
                <h3>公告</h3>
                <span>米粉节预热,全部商品限时折扣,最低5折，更有惊喜大礼等你来拿,马上抢购吧!</span>
            </div>
        </div>
        <div class="right">
            <div class="bind">
            </div>
            <div class="page">
                <ul>
                    <li class="first">首页</li>
                    <li class="pre">上一页</li>
                    <li style="color:#FF6709" class="page">1</li>
                    <li class="page">2</li>
                    <li class="page">3</li>
                    <li class="page">4</li>
                    <li class="page">5</li>
                    <li class="next">下一页</li>
                    <li class="last">尾页</li>
                </ul>
            </div>
        </div>

    </section>
    <footer>

    </footer>
    <script type="text/javascript" src="js/jquery-1.11.3.min.js"></script>
    <script type="text/javascript" src="js/jquery.cookie.js"></script>
    <script type="text/javascript" src="js/jquery.fly.min.js"></script>
    <script type="text/javascript" src="js/header.js"></script>
    <script type="text/javascript" src="js/footer.js"></script>
    <script type="text/javascript" src="js/product.js"></script>
</body>
</html>