<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <title>购物车</title>
    <link rel="stylesheet" href="./css/shop.css">
    <link rel="stylesheet" href="./fonts/iconfont.css">
    <link rel="stylesheet" href="css/header.css">
</head>
<body>
    <!-- 头部快捷导航 -->
    <div id="header">
    </div>
    <section class="shop">
        <h1>购物车</h1>
        <div class="title">
            <ul>
                <li><input type="checkbox" name="" class="chooseAll">全选</li>
                <li>商品信息</li>
                <li>商品参数</li>
                <li>单价</li>
                <li>数量</li>
                <li>金额</li>
                <li>操作</li>
            </ul>
        </div>
        <div class="shop"></div>
        <div class="nun">
        </div>
        <div class="bottom">
            <div class="count">
                已选商品<strong>0</strong>件
            </div>
            <div class="monny">
                共计<strong>￥0</strong>
            </div>
            <div class="pay">
                <a href="javascript:;">结算</a>
            </div>
        </div>
    </section>
    <script type="text/javascript" src="js/jquery-1.11.3.min.js"></script>
    <script type="text/javascript" src="js/jquery.cookie.js"></script>
    <script type="text/javascript" src="js/header.js"></script>
    <script type="text/javascript" src="js/shop.js"></script>
</body>
</html>