<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <title>注册页</title>
    <link rel="stylesheet" href="css/signup.css">
    <meta name="viewport" content="width=device-width,initial-scale=1"/>
</head>
<body>
    <div class="content">
            <h2>注册</h2>
            <div>
                请输入用户 : <input type="text" name="name" value="" class="user" placeholder="邮箱">
            </div>
            <p class="user"></p>
            <div>
                请输入密码 : <input type="password" name="pwd" value="" class="pwd">
            </div>
            <p class="pwd"></p>
            <div>
                请确认密码 : <input type="password" name="pwd" value="" class="repwd">
            </div>
            <p class="repwd"></p>
            <div>
                请输入电话 : <input type="tel" name="tel" value="" class="tel">
            </div>
            <p class="tel"></p>
            <input type="button" name="" value="注册" class="signup">
            <p class="signup"></p>
    </div>
    <script type="text/javascript" src="js/jquery-1.11.3.min.js"></script>
    <script type="text/javascript" src="js/signup.js"></script>
</body>
</html>